* {
    margin:0;
    border:0;
    padding:0;
    overflow:hidden;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overscroll-behavior-y: none;
}

section{
    border:1px solid black;
}

.reporter{
    display:block;
}

.dice{
    font-size:20px;
}

.holding{
    font-weight:bold;
    background:#bbbbbb;
}

.scored{
    font-weight:bold;
    font-style:italic;
    background:#bbbbdd;
}

#game{
    background-color:#6ebf70;
    height:100%;
    width:100%;
    overflow:hidden;
}
#sideboard{
    background-image:url("pictures/sideboard.gif");
    width:100px;
    height:400px;
    display:inline-block;
    z-index:0;
}

#gravity {
    background-color: #C9EBC9;
    height: 4rem;
}