* {
    margin:0px;
    border:0px;
    padding:0px;
}

section{
    border:1px solid black;
}

.reporter{
    display:block;
}

.dice{
    font-size:20px;
}

.holding    {
    font-weight:bold;
    background:#bbbbbb;
}

#game{
    background-color:#6ebf70;
    height:100%;
    width:100%;
    overflow:hidden;
}
#sideboard{
    background-image:url("pictures/sideboard.gif");
    width:100px;
    height:400px;
    display:inline-block;
    z-index:0;
}
